[package]
name = "iced_aw"
version = "0.2.0"
authors = ["Kaiden42 <gitlab@tinysn.com>"]
edition = "2021"
description = "Additional widgets for the Iced GUI library"
license = "MIT"
repository = "https://github.com/kaiden42/iced_aw"
# TODO documentation
readme = "README.md"
keywords = ["gui", "graphics", "interface", "widgets", "iced"]
categories = ["gui"]

[features]
badge = []
button = []
card = []
colors = []
date_picker = ["chrono", "lazy_static", "icon_text"]
color_picker = ["icon_text", "iced_graphics/canvas"]
floating_element = ["button"]
grid = []
glow = [] # TODO
icon_text = ["icons"]
icons = []
modal = []
tab_bar = []
tabs = ["tab_bar"]
time_picker = ["chrono", "icon_text", "iced_graphics/canvas"]
wrap = []
number_input = ["num-traits"]
selection_list = []
split = []

default = [
    "badge",
    #"card",
    "colors",
    #"date_picker",
    #"color_picker",
    #"floating_element",
    #"grid",
    #"modal",
    #"tab_bar",
    #"tabs",
    #"time_picker",
    #"wrap",
    #"selection_list",
    #"split",
]

[dependencies]
num-traits = { version = "0.2.15", optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
chrono = { version = "0.4.19", optional = true }
lazy_static = { version = "1.4.0", optional = true }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies.iced_native]
git = "https://github.com/iced-rs/iced.git"
rev = "77800bc"
version = "0.5.1"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies.iced_graphics]
git = "https://github.com/iced-rs/iced.git"
rev = "77800bc"
version = "0.3.0"

[dependencies.iced_style]
git = "https://github.com/iced-rs/iced.git"
rev = "77800bc"
version = "0.4.0"

[profile.dev.package."*"]
opt-level = 2

[workspace]
members = [
    "examples/badge",
    #"examples/card",
    #"examples/color_picker",
    #"examples/date_picker",
    #"examples/floating_element",
    #"examples/grid",
    #"examples/modal",
    #"examples/tab_bar",
    #"examples/tabs",
    #"examples/time_picker",
    #"examples/wrap",
    #"examples/number_input",
    #"examples/selection_list",
    #"examples/split",
]
