[package]
name = "iced_aw"
version = "0.5.2"
authors = ["Kaiden42 <gitlab@tinysn.com>", "Andrew Wheeler <genusistimelord@gmail.com>"]
edition = "2021"
description = "Additional widgets for the Iced GUI library"
license = "MIT"
repository = "https://github.com/iced-rs/iced_aw"
# TODO documentation
readme = "README.md"
keywords = ["gui", "graphics", "interface", "widgets", "iced"]
categories = ["gui"]

[features]
badge = []
card = []
date_picker = ["chrono", "lazy_static", "icon_text"]
color_picker = ["icon_text", "iced_widget/canvas"]
cupertino = ["iced_widget/canvas", "time"]
floating_element = []
grid = []
glow = [] # TODO
icon_text = ["icons"]
icons = []
modal = []
tab_bar = []
tabs = ["tab_bar"]
time_picker = ["chrono", "icon_text", "iced_widget/canvas"]
wrap = []
number_input = ["num-traits"]
selection_list = []
split = []
menu = []
quad = []
spinner = []
context_menu = []

default = [
    "badge",
    "card",
    "number_input",
    "date_picker",
    "color_picker",
    "floating_element",
    "icon_text",
    "grid",
    "modal",
    "tab_bar",
    "tabs",
    "time_picker",
    "wrap",
    "selection_list",
    "split",
    "menu",
    "quad",
    "context_menu",
    "spinner",
    "cupertino",
]

[dependencies]
num-traits = { version = "0.2.15", optional = true }
time = { version = "0.3.5", features = ["local-offset"], optional = true }
chrono = { version = "0.4.23", optional = true }
lazy_static = { version = "1.4.0", optional = true }



[dependencies.iced_widget]
git = "https://github.com/iced-rs/iced.git"
#rev = "8221794"
version = "0.1.0"

#[dependencies.iced_graphics]
#git = "https://github.com/iced-rs/iced.git"
#rev = "8221794"
#version = "0.8.0"

#[dependencies.iced_style]
#git = "https://github.com/iced-rs/iced.git"
#rev = "8221794"
#version = "0.8.0"

[profile.dev.package."*"]
opt-level = 2

[workspace]
members = [
    "examples/badge",
    "examples/card",
    "examples/color_picker",
    "examples/cupertino/cupertino_alert",
    "examples/cupertino/cupertino_button",
    "examples/cupertino/cupertino_spinner",
    "examples/cupertino/cupertino_switch",
    "examples/date_picker",
    "examples/floating_element",
    "examples/floating_element_anchors",
    "examples/grid",
    "examples/modal",
    "examples/modal_component",
    "examples/tab_bar",
    "examples/tabs",
    "examples/time_picker",
    "examples/wrap",
    "examples/number_input",
    "examples/selection_list",
    "examples/split",
    "examples/split_scroller",
    "examples/menu",
    "examples/spinner",
    "examples/context_menu"
]

[workspace.dependencies.iced]
git = "https://github.com/iced-rs/iced.git"
#rev = "8221794"
#version = "0.9.0"
features = ["advanced", "lazy", "tokio"]

[workspace.dependencies.iced_aw]
path = "./"
default-features = false

