name: Clippy
on: [push, pull_request]
jobs:
  all:
    runs-on: ubuntu-latest
    steps:
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: stable
          components: clippy
      - uses: actions/checkout@master
      - name: Lint with clippy
        run: cargo clippy --all -- -D warnings --verbose
